<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
  <persistence-unit name="esoCommBackendPersistence">
    <provider>org.datanucleus.api.jpa.PersistenceProviderImpl</provider>
    <properties>
      <property name="datanucleus.NontransactionalRead" value="true" />
      <property name="datanucleus.NontransactionalWrite" value="true" />
      <property name="datanucleus.ConnectionURL" value="appengine" />
      <property name="datanucleus.appengine.datastoreEnableXGTransactions"
        value="true" />
      <property name="datanucleus.appengine.autoCreateDatastoreTxns"
        value="true" />
    </properties>
    <class>be.stece.esocomm.backendApp.NewsBean</class>
  </persistence-unit>
</persistence>